[Unit]
Description=Network gateway
After=multi-user.target

[Service]
User=root
Type=idle
ExecStart=/sbin/scrutation echo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
